<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/search_form"></div>
<div th:replace="fragments/search_error_alert"></div>
    <div class="container">
        <div class="row my-5 p-3">
            <div th:unless="${#lists.isEmpty(locationWeatherList)}" th:each="locationWeather : ${locationWeatherList}" class="col-lg-2 col-md-4 col-sm-6">
                <div class="card text-center">
                    <form th:action="@{/main}" method="post">
                    <div class="card-body">
                      <h5 class="card-title" th:text="${locationWeather.getName()}">City</h5>
                        <h5 class="card-title" th:text="${locationWeather.getSys().getCountry()}">Country</h5>
                        <h3 class="card-text" th:if="${locationWeather.getMain().getTemp() > 0}" th:text="'+' + ${locationWeather.getMain().getTemp()}">Temperature</h3>
                        <h3 class="card-text" th:if="${locationWeather.getMain().getTemp() <= 0}" th:text="${locationWeather.getMain().getTemp()}">Temperature</h3>
                        <input type="hidden" name="databaseId" th:value="${locationWeather.getDatabaseId()}">
                      <button type="submit" class="btn btn-secondary">Delete</button>
                    </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/scripts"></div>

</body>
</html>