<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:encoding="UTF-8" lang="en">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<div class="overlay" id="overlay">
    <div class="loader"></div>
</div>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/search_form"></div>
<div th:replace="fragments/search_error_alert"></div>
    <div class="container">
        <div class="row my-5 p-3">
            <div th:unless="${#lists.isEmpty(locationWeatherList)}" th:each="locationWeather : ${locationWeatherList}" class="col-lg-2 col-md-4 col-sm-6">
                <div class="card text-center d-flex flex-column mb-4" style="height: 410px;">
                    <form th:action="@{/main}" method="post">
                        <div class="card-body">
                            <div class="cl">
                            <h5 class="card-title" th:text="${locationWeather.getName()}">City</h5>
                            <h5 class="card-title" th:text="${locationWeather.getSys().getCountry()}">Country</h5>
                                <h3 class="card-text" th:if="${locationWeather.getMain() != null and locationWeather.getMain().getTemp() > 0}" th:text="'+' + ${locationWeather.getMain().getTemp()}">Temperature</h3>
                                <h3 class="card-text" th:if="${locationWeather.getMain() != null and locationWeather.getMain().getTemp() <= 0}" th:text="${locationWeather.getMain().getTemp()}">Temperature</h3>
                            <p class="card-text" th:if="${not #lists.isEmpty(locationWeather.getWeather())}" th:text="${locationWeather.getWeather().get(0).getDescription()}">Weather Description</p>
                            <p class="card-text" th:if="${not #lists.isEmpty(locationWeather.getWeather())}" th:text="'Humidity: ' + (${locationWeather.getMain().getHumidity()}+'%')">Humidity</p>
                            <p class="card-text" th:text="'Wind Speed: ' + ${locationWeather.getWind().getSpeed()+' m/s'}">Wind Speed</p>
                            <p class="card-text" th:if="${not #lists.isEmpty(locationWeather.getWeather())}" th:text="'Pressure: ' + ${locationWeather.getMain().getPressure() + ' hPa'}">Pressure</p>
                            <p class="card-text" th:if="${not #lists.isEmpty(locationWeather.getWeather())}" th:text="'Visibility: ' + ${locationWeather.getVisibility() + ' meters'}">Visibility</p>
                            <input type="hidden" name="userId" th:value="${userSession.get().getUser().getId()}">
                            <input type="hidden" name="lat" th:value="${locationWeather.getCoord().getLat()}">
                            <input type="hidden" name="lon" th:value="${locationWeather.getCoord().getLon()}">
                        </div>
                            <button type="submit" class="btn btn-secondary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/scripts"></div>

</body>
</html>