<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:encoding="UTF-8" lang="en">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/search_form"></div>
<div th:replace="fragments/search_error_alert"></div>
<div class="container">
        <div class="row my-5 p-3">
            <div th:unless="${#lists.isEmpty(locationList)}" th:each="location : ${locationList}" class="col-lg-2 col-md-4 col-sm-6">
                <div class="card text-center">
                    <form th:action="@{/search}" method="post">
                    <div class="card-body">
                      <h5 class="card-title" th:text="${location.getName()}">Moscow</h5>
                        <p class="card-text" th:with="st=${location.getState()}" th:text="${location.getCountry()  + (st != null ? ', '+st : '')}">America</p>
                        <p class="card-text" th:text="${'Latitude: '}">Coordinates</p>
                        <p class="card-text" th:text="${location.getLat()}">lat</p>
                        <p class="card-text" th:text="${'Longitude: '}">Coordinates</p>
                        <p class="card-text" th:text="${location.getLon()}">lon</p>
                        <input type="hidden" name="name" th:value="${location.getName()}" />
                        <input type="hidden" name="lat" th:value="${location.getLat()}" />
                        <input type="hidden" name="lon" th:value="${location.getLon()}" />
                        <button th:if="${userSession.isEmpty()}" type="submit" class="btn btn-primary" disabled> Add </button>
                        <button th:unless="${userSession.isEmpty()}" type="submit" class="btn btn-primary"> Add </button>
                    </div>
                    </form>
                  </div>
            </div>
        </div>
</div>
<div th:replace="fragments/scripts"></div>

</body>
</html>