<!-- HEADER -->
<div th:fragment="header" class="container-fluid bg-secondary">
    <div class="container text-white py-4">
        <div class="row justify-content-center align-items-center gx-5">
            <div class="col-sm-6 col-lg-8 text-start">
                <a th:href="@{/main}" style="text-decoration: none;color:white"><h1>Weather</h1></a>
            </div>
            <div class="col-sm-3 col-lg-2 text-center d-grid gap-2 mx-auto my-1">
                <a th:if="${userSession.isEmpty()}" th:href="@{/auth}" class="btn btn-primary  btn-lg">Log in</a>
                <a th:unless="${userSession.isEmpty()}">
                    <h6>Current user:</h6>
                    <h3
                            th:text="${userSession.get().getUser().getLogin()}"
                            th:class="${#strings.length(userSession.get().getUser().getLogin()) > 10} ? 'long-username' : ''">
                        User login
                    </h3>
                </a>
            </div>
            <div class="col-sm-3 col-lg-2 text-center d-grid gap-2 mx-auto my-1">
                <a th:if="${userSession.isEmpty()}" th:href="@{/reg}" class="btn btn-primary btn-lg">Sign up</a>
                <form th:action="@{/log-out}" method="post" th:unless="${userSession.isEmpty()}">
                    <button type="submit" class="btn btn-primary btn-lg">Log out</button>
                </form>
            </div>
        </div>
    </div>
</div>